<!DOCTYPE html>
<html lang="en">
  <head>
    <title>User Registration</title>
  </head>
  <body style="font-size:20px; padding:50px;">
    <h2 id="registerForm">Please register for a new account</h2>
    <form action="/user_registration" method="POST" style="margin:150px;">
      <label for="username">Enter your username :</label>
      <input id="username" type="text" name="username" style="width: 300px">
      <label for="email">Enter your email:</label>
      <input id="email" type="email" name="email" style="width: 300px">
      <label for="password">Enter your password:</label>
      <input id="password" type="password" name="password" style="width: 300px">
      <input type="submit" value="Register">
    </form>
    <h2 id="logInForm">Please log in</h2>
    <form action="/user_login" method="POST" style="margin:150px;">
      <label for="username">Enter your username :</label>
      <input id="username" type="text" name="username" style="width: 300px">
      <label for="password">Enter your password:</label>
      <input id="password" type="password" name="password" style="width: 300px">
      <input type="submit" value="Login">
    </form>
  </body>
</html>