<!DOCTYPE html>
<html lang="en">
   <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../styles/layout.css">
  </head>

  <body>
    <!-- <% include ../pages/partials/_header %> -->
    <main>
      <section class="eat-watch-section">
        <div>Eat</div>
        <div style="margin-left:97px";>Watch</div>
      </section>

      <section class="input-section">
        <form method="POST" action="/">
          <input name="tasks" class="text-for-tasks" type="text"  placeholder="Enter task here!!" />
          <button>SUBMIT</button>
        </form>
      </section>

      <section class="read-buy-section">
         <div>Read</div>
        <div style="margin-left:97px;">Buy</div>
      </section>
    </main>
  </body>
</html>
