body {
  background-color: #EEE;
}

body h1 {
  color: #244751;
}

.navbar .pageLink {
  padding-right: 20px;
}

/* CSS FOR INDEX */
/*ADDDDD MORE COMMENTS*/

main{
  width: 80%;
  margin: auto;
}

main section div {
  width: 300px;
  height: 280px;
  background-color: tomato;
  border-radius: 50px;
  padding-top: 20px;
}

main section div:hover {
 background-color: black;
 color: white;
}

main section .text-for-tasks {
  width: 500px;
  height: 50px;
  border-radius: 40px;
  font-size: 1.8em;
  padding-left: 8px;
}

main .eat-watch-section {
  width: 705px;
  height: 300px;
  margin: 50px 0px 50px 0px;
  text-align: center;
}

main .eat-watch-section div {
  display: inline-block;
}

main .read-buy-section {
  width: 705px;
  height: 300px;
  margin-top: 50px;
  text-align: center;
}

main .read-buy-section div {
  display: inline-block;

}

main .input-section{
  margin-top: 50px;
  /*text-align: center;*/
  margin-left: 5%;

}
.input-section > button{
  height: 50px;
  width: 100px;
}
/* CSS FOR INDEX */
