<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/urls">Your Tasks</a>
      <li><a href="/urls/new">Add Task</a></li>
      <li><a href="/login">Log In</a></li>
      <li><a href="/user_registration">Register</a></li>
    </ul>
  </div>
</nav>
