<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
    <!-- Add <li> elements like <li class="pageLink">Whatever</li> -->
    </ul>
  </div>
</nav>
