<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="pageLink">Home</li>
      <li class="pageLink">Your Tasks</li>
      <li class="pageLink">Add Task</li>
      <li class="pageLink">Log In</li>
      <li class="pageLink">Register</li>
    </ul>
  </div>
</nav>
