<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <style type="text/css">
    .container-fluid{
      width: 90%;
      height: 60px;
      background-color: skyblue;
      margin: auto;
      border-radius: 60px;
    }
    button{
      float:right;
      margin-right: 30px;
      margin-top: 15px;
    }
  </style>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <ul class="nav navbar-nav">

        </ul>
        <button>LOGOUT</button>
      </div>
    </nav>

  </body>
</html>
