<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li>Home</li>
      <li>Your Tasks</li>
      <li>Add Task</li>
      <li>Log In</li>
      <li>Register</li>
    </ul>
  </div>
</nav>
